main.contribute {
    background-color: hsl(var(--bg-2));
    border-radius: var(--radius);
    box-shadow: var(--shadow-1000);
    padding: var(--side-gap);
}

main.contribute > .wrapper {
    width: var(--width-readable);
    margin: auto;
}

main.contribute h1.page-heading {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding-block: 1ch;
    width: 370px;
    text-align: start;
}

main.contribute ul.grid {
    display: grid;
    box-sizing: border-box;
    font-size: 1em;
    gap: 1rem;
    list-style-type: none;
}

main.contribute ul.grid li a {
    padding: calc( 1.5 * var(--inner-gap) );
    border: 1px solid hsl(var(--color-2), 0.6);
    border-radius: var(--radius);
    background-color: hsla(var(--color-2), 0.08);
    box-shadow: var(--shadow-1000);

    display: block;
    font-size: 1.1rem;
    text-decoration: none;
    color: hsl(var(--color-1));
 
}


main.contribute ul.grid li a:hover {
    background-color: hsla(var(--color-link), 0.12);

    text-decoration: underline;
    text-underline-offset: 5px;
}
