// Next Components
import Link  from "next/link";
import Image from "next/image";

// React Hooks

// Styling
import "./page.style.css";

// Fonts

// Runtime Varibles

// UI Components


export default function Page() {
    return (
        <main className="main">
            Main Page
        </main>
    );
}