/* GLOBAL VARIABLES -------------------------------------------- */

:root {
    --max-width : min( 
        1440px, 
        calc( 100vw - 2 * var(--side-gap))    
    );

    --side-gap  : 20px;
    --inner-gap : calc(var(--side-gap) / 2);

    --color-link: 206, 100%, 41%;

    --radius    : .375rem;

    --width-readable: min( 
        80ch, 
        calc( 100vw - 4 * var(--side-gap))    
    );

    --shadow-1000: 0px 3px 9px #00000016, 0px 1px 3px #00000008;

}

/* LIGHT/DARK COLORS ------------------------------------------- */

html:has(body[data-color-scheme="light"]) {
    color-scheme: light;
}

html:has(body[data-color-scheme="dark"]) {
    color-scheme: dark;
}

body[data-color-scheme="light"] {
    --bg-1    : 200, 15%, 90%;
    --bg-2    : 0, 0%, 100%;
    --color-1 : 0, 0%, 0%;
    --color-2 : 200, 3%, 40%;
}

body[data-color-scheme="dark"] {
    --bg-1    : 0, 0%, 8%;
    --bg-2    : 0, 0%, 12%;
    --color-1 : 0, 0%, 100%;
    --color-2 : 0, 3%, 50%;
}

/* CSS RESETS -------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color : hsl(var(--color-1));
}

html,
body {
    max-width: 100vw;
    /* overflow-x: hidden; */
    background-color : hsl(var(--bg-1));
}

a, a>* { color: hsl(var(--color-link)); }

ul { list-style-type: none; }

.btn {
    padding: 0.75ch 0.75em;
    border: 1px solid hsl(var(--color-2));
    border-radius: 0.5ch;
    background-color: transparent;
    color: var(--color-1);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    font-size: 1em;
    display: block;
}

.btn:hover {
    background-color: hsla(var(--color-link), 0.12);
}


/* GLOBAL LAYOUT ----------------------------------------------- */
html {
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: var(--inner-gap);
    margin-block: var(--side-gap);
    min-height: calc( 100vh - 2 * var(--side-gap));
}

body main {
    width: var(--max-width);
    margin: 0 auto;
}

body main.main {
    padding: var(--side-gap);
    border: 1px solid hsl(var(--color-2));
    border-radius: var(--radius);
}

body > svg {
    position: absolute;
    z-index: -99;
    height: 0;
    width: 0;
}