.page-heading {
    display: block;
}

.ping {
    font-weight: 400;
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}