main.status {
    background-color: hsl(var(--bg-2));
    border-radius: var(--radius);
    box-shadow: var(--shadow-1000);
    padding: var(--side-gap);
}

main.status > .wrapper {
    width: var(--width-readable);
    margin: auto;
}

h1.page-heading {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding-block: 1ch;
    width: 370px;
    text-align: start;
}

ul.grid {
    display: grid;
    box-sizing: border-box;
    font-size: 1em;
    gap: 1rem;
    list-style-type: none;
}