.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1.page-heading {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    width: 370px;
    text-align: start;
    padding-inline: 5px;
}

ul.grid {
    display: grid;
    box-sizing: border-box;
    font-size: 1em;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 370px;
    list-style-type: none;
}